body {
  font-family: Arial, Helvetica, sans-serif;
  border-color: #dddddd;
  font-size: 18px;
  line-height: 150%;
  color: #777777;
  background: #ffffff;
}
  
h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  border-color: #cccccc;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #4aaaa4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  border-color: #cccccc;
  font-size: 28px;
  color:#4aaaa4;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: outset;
  border-left-style: none;
}
  
h6 {
  padding: 20px 0px 0px 0px;
  color: #eee;
  border-color: #4aaaa4;
  text-align: center;
  background: #666666;
  height: 25px;
}

.box-set {
  position: relative;
  height: auto;
  background:#ffffff;
  width: 1050px;
}

.box-1 {
  width: 210px;
  height: auto;
}

.box-2 {
position: relative;
}

.box-3 {
  position: relative;
  max-width: max;
  bottom: 0px;
  float: left;
}

.content1 {
  width: auto;
  float: right;
}

#p354,
#p355,
#p356,
#p357, {
  float: left;
  padding: 15px;
}

a {
  width: 200px;
}
a:hover {
  background-color: grey;
}
 
a:focus {
  background-color: burlywood;
}
 
a:active {
  background-color: orchid;
}